.page-content {
  display: flex;
  height: $page-content-height;
  margin: 0 auto;
  max-width: $site-max-width;
  padding: $space-large $space;
}

.page-content__sidebar {
  display: flex;
  padding-right: $space-large;
  width: $page-content-sidebar-width;
}

.page-content__main {
  display: flex;
  width: $page-content-main-width;
}
